.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;

  & > footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;

    & > a {
      height: 50px;
      width: 100%;
      background: transparent;
      border: 1px solid var(--green-500);
      border-radius: 8px;
      padding: .875rem 1.5rem;
      color: var(--green-500);
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-items: center;

      gap: .625rem;

      transition: color 0.3s, background 0.4s;

      &:hover {
        background: var(--green-500);
        color: var(--gray-100);
      }
    }
  }
}

.cover   {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;

  font-size: .875rem;
  line-height: calc(.875*(160/100));
  margin-top: -2rem;

  & > img {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
    margin-bottom: 1rem;
  }

  & > strong {
    color: var(--gray-100);
    font-size: 1rem;
    line-height: 1.6;
  }

  & > span {
    color: var(--gray-400);
    font-size: .875rem;
    line-height: 1.6;
  }
}
